/* dashboard.page.scss */

.logo {
  position: absolute;
  top: 0;
  left: 0;
  width: 40px;
  height: 40px;
  margin: -25px;
  margin-left: -48px;
  z-index: 10;
}
/* Ensure the ion-toolbar is positioned relative for absolute positioning inside it */
ion-toolbar {
  position: relative;
}

/* More specific selector for the menu button */
ion-toolbar .menu-button {
  position: absolute;
  left: 50px; /* Adjust this value to place the menu button next to the logo */
  top: 50%; /* Center vertically */
  transform: translateY(-50%); /* Center vertically */
  z-index: 20; /* Ensure it is above other elements */
  
  /* Override default styles */
  --background: transparent; /* Remove default background */
  --color: #000000; /* Set custom icon color */
  margin-left: 25px; /* Reset margin */
  padding: 0; /* Reset padding */
  border: none; /* Remove any borders if present */
}


/* General style for icons and labels */
.tab-icon {
  width: 24px;
  height: 24px;
}

/* Style for active tab button */
ion-tab-button.ion-tab-button-active {
  --color: #0974B9; /* Change icon and label color for active state */
}

/* Style for label within the active tab */
ion-tab-button.ion-tab-button-active ion-label {
  color: #0974B9; /* Change label color for active state */
  font-weight: bold; /* Make the label bold */
  font-size: 14px; /* Adjust font size as needed */
}
// ion-label{
  // text-decoration:;
// }

/* Style for icon within the active tab */
ion-tab-button.ion-tab-button-active .tab-icon {
  width: 24px; /* Ensure width is consistent */
  height: 24px; /* Ensure height is consistent */
  filter: brightness(0) saturate(100%) invert(30%) sepia(0%) saturate(1000%) hue-rotate(0deg) brightness(100%) contrast(100%);
}
