<ion-content>
  <div class="image-container">
    <ion-img src="assets/logo.png" alt="MedTrain-Logo" class="top-image"></ion-img>
    <ion-img src="/assets/welcome/Medtrain/Medtrain@3x.png" alt="MedTrain" class="bottom-image"></ion-img>
  </div>
  <div class="body-container">
    <span class="headline"><b>Making your learning more</b> enjoyable.</span>
    <ion-button size="large" (click)="signup()" class="signup-button">
      <ion-icon name="mail-outline" slot="start"></ion-icon>
      Sign up with email
    </ion-button>
    <div class="login-container">
      <span>Already have an account? <a routerLink="/contact">Login</a></span><br/>
      <div class="terms">
        <span>By continuing, you agree to our <br>
          <a routerLink="/terms-of-service">Terms of Service</a> and <a routerLink="/privacy-policy">Privacy Policy</a>
        </span>
      </div>
    </div>
  </div>
</ion-content>
