

<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-button (click)="goBack()" fill="clear">
          <img src="/assets/search/back.png" alt="back icon" class="back-icon" />
          <ion-label>Archived Courses</ion-label>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="custom-image-class">
  <ion-img src="./assets/archived/archive.svg"></ion-img>
  </div>
  <p>You don't have any archived cources</p>

</ion-content>

