// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/
// src/theme/variables.scss

:root {
    --ion-color-primary: #EA6B23; /* Replace with your desired primary color */
    --ion-color-primary-rgb: 56, 128, 255; /* RGB format of the primary color */
  
    --ion-color-light: #E9D4EF; /* Replace with your desired secondary color */
    --ion-color-light-rgb: 12, 209, 232; /* RGB format of the secondary color */
  
    // Other color variables can also be set or customized here
  }
  