.user-details {
    text-align: center;
    margin-top: 20px;
  }
  
  .user-logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .user-logo {
    font-size: 100px; /* Adjust the size as needed */
    color: #000; /* Adjust color if needed */
  }
  