<ion-content id="main-content">
  <div class="splash-img-container">
    <ion-img src="assets/dashboard/allergy.png" alt="Main Image" class="home-page-corousal"></ion-img>
    
    <div >
    <ion-img src="assets/dashboard/Group 41469.png" alt="Overlay Image" class="home-page"></ion-img>
    <span>
    <h6>Allergy Asthama Monthly CME</h6>
    <h6>By Med-Train</h6>
    <h6 style="color: #0974B9;">Free</h6>
    </span>
    </div>
    <div >
    <ion-img src="assets/dashboard/Group 41470.png" alt="Overlay Image" class="home-page"></ion-img>
    <span>
    <h6>Allergy Asthama Monthly CME</h6>
    <h6>By Med-Train</h6>
    <h6 style="color: #0974B9;">Free</h6>
    </span>
    </div>
    <div ><ion-img src="assets/dashboard/Group 41471.png" alt="Overlay Image" class="home-page"></ion-img>
    <span>
    <h6>Guide to Anaphylaxis Preparedness (GAP)</h6>
    <h6>By Med-Train</h6>
    <h6 style="color: #0974B9;">Free</h6>
    </span>
    </div>
  </div>
</ion-content>
